// .main-content {

// }

.container_1 {
    height: 100vh;
    padding-top: 60px;
    display: flex;
}

.l-panel {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    // margin-top: 60px;
}

.r-panel {
    width: 50%;
    // margin-top: 60px;
}